---
# Main playbook for complete infrastructure setup
- name: Deploy Digital Wardrobe Application Infrastructure
  hosts: all
  become: yes
  gather_facts: yes
  
  tasks:
    - name: Update system packages
      apt:
        update_cache: yes
        upgrade: dist
        cache_valid_time: 3600

- import_playbook: common.yml
- import_playbook: database.yml
- import_playbook: application.yml
- import_playbook: nagios.yml

